* {
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

a {
    text-decoration: none;		
	color: purple;
}

/*.menu {
	background-color: grey;
}*/

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
	list-style-position:inside;
	display: inline-block;
}

.menu a {
    display: inline-block;
	font-weight: bold;
	background-color: lightgrey;
	border: 2px solid grey;
	margin: 2px;
	padding: 5px;

}

.menu a:hover {
	color: white;
	background: #444;
}

h2 {
	color: purple;
	margin-bottom: 5px;
	width: auto;
	text-indent: 20px;
}

.date {
	display: inline-block;
	color: purple;
	text-indent: 20px;
}

.paragraph {
	margin-left: 3%;
	border: 2px dotted grey;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	display: block;
	width: 55%;
	background-color: ghostwhite;
	text-align: justify;
    text-justify: auto;
}

.paragraph ul {
    margin: 0;
    padding: 20px 0 0 0;
}

.paragraph li{
	list-style-position:inside;
	display: inline-block;	
}

.paragraph a {
	font-weight: bold;
	font-size: 25px;
}

.post-index {
	margin-left: 3%;
	margin-top: 20px;
	border: 2px dotted grey;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
/*	display: block;*/
	width: 55%;
	background-color: ghostwhite;
	text-align: justify;
    text-justify: auto;
}

.reviews li{
	list-style-position:inside;
	margin: 2px;
	border: 2px dotted grey;
	display: block;
	width: 60%;
	height: auto;
	background-color: ghostwhite;
}

.reviews .title {
	font-weight: bold;
	color: purple;
}

.reviews .content {
	color: dark-grey;
}